@import url('https://unpkg.com/@festo-ui/web-essentials@dev/dist/css/festo-web-essentials.min.css');

.fwae-submenu {
  margin-left: 12px;
  overflow: hidden;
}

.fwae-submenu .fwe-list-group {
  justify-content: space-between;
  min-width: 696px;
  height: 60px;
}

.fwae-submenu > nav > a.fwe-list-group-item.fwe-active {
  color: var(--fwe-hero);
}
